<p>YOUR DEPARTURE FLIGHT</p>
<table border = 1>
    {% for flight in DepartData %}
    <tr>
        <td>{{flight["Airline_name"]}}</td>
        <td>{{flight["Flight_num"]}}</td>
        <td>{{flight["Depart_date"]}}</td>
        <td>{{flight["Depart_time"]}}</td>
        <td>{{flight["Depart_port"]}}</td>
        <td>{{flight["Arrival_port"]}}</td>
        <td>{{flight["Arrival_date"]}}</td>
        <td>{{flight["Arrival_time"]}}</td>
        <td>{{flight["Base_price"]}}</td>
        <td>{{flight["ID_num"]}}</td>
        <td>{{flight["Flight_status"]}}</td>
        
    </tr>
    {% endfor %}
</table>

<p>POSSIBLE RETURN FLIGHTS</p>
<table border = 1>
    {% for flight in ReturnData %}
    <tr>
        <td>{{flight["Airline_name"]}}</td>
        <td>{{flight["Flight_num"]}}</td>
        <td>{{flight["Depart_date"]}}</td>
        <td>{{flight["Depart_time"]}}</td>
        <td>{{flight["Depart_port"]}}</td>
        <td>{{flight["Arrival_port"]}}</td>
        <td>{{flight["Arrival_date"]}}</td>
        <td>{{flight["Arrival_time"]}}</td>
        <td>{{flight["Base_price"]}}</td>
        <td>{{flight["ID_num"]}}</td>
        <td>{{flight["Flight_status"]}}</td>
        
    </tr>
    {% endfor %}
</table>

<a href="/flightsearch">Go back</a>