<html>
<head>
</head>

<body>

    <!–– Gets information for Departure City search option then
make this information available for searchresults redirection to use ––>
{% if source == "flightsearch" %}
<form action="/searchresults" method="POST">
    <h1>Source City</h1>
    <input type="text" name = "SC" placeholder="Source City" required/> </br>
    <h1>Source Airport</h1>
    <input type="text" name = "SA" placeholder="Source Airport" required/> </br>
    <h1>Destination City</h1>
    <input type="text" name = "DC" placeholder="Destination City" required/> </br>
    <h1>Destination Airport</h1>
    <input type="text" name = "DA" placeholder="Destination Airport" required/> </br>
    <h1>Departure date</h1>
    <input type="text" name = "DD" placeholder="yyyy-mm-dd" required/> </br>
    <h1>Return date (leave empty for one ways)</h1>
    <input type="text" name = "RD" placeholder="yyyy-mm-dd" /> </br>
    <input type="submit" value = "Search" />
</form>

<a href="/">Public Page</a>
{% endif %}

{% if source == "custsearch" %}
<form action="/searchresults2" method="POST">
    <h1>Source City</h1>
    <input type="text" name = "SC" placeholder="Source City" required/> </br>
    <h1>Source Airport</h1>
    <input type="text" name = "SA" placeholder="Source Airport" required/> </br>
    <h1>Destination City</h1>
    <input type="text" name = "DC" placeholder="Destination City" required/> </br>
    <h1>Destination Airport</h1>
    <input type="text" name = "DA" placeholder="Destination Airport" required/> </br>
    <h1>Departure date</h1>
    <input type="text" name = "DD" placeholder="yyyy-mm-dd" required/> </br>
    <h1>Return date (leave empty for one ways)</h1>
    <input type="text" name = "RD" placeholder="yyyy-mm-dd" /> </br>
    <input type="submit" value = "Search" />
</form>

<a href="/home">Customer Home Page</a>
{% endif %}

{% if source == "stat" %}
<!–– Gets information for flight status ––>
<form action="/showstat" method="POST">
    <h1>Airline name</h1>
    <input type="text" name = "AN" placeholder="Airline name" required/> </br>
    <h1>Flight number</h1>
    <input type="text" name = "FN" placeholder="Flight number" required/> </br>
    <h1>Departure date</h1>
    <input type="text" name = "DD" placeholder="Departure date" required/> </br>
    <h1>Arrival date</h1>
    <input type="text" name = "AD" placeholder="Arrival date" required/> </br>
    <input type="submit" value = "Search" />
</form>

<a href="/">Go back</a>
{% endif %}




</body>
</html>




