<h1>
    All past flights for {{username}}
</h1>

<table border = 1>
    {% for flight in data %}
    <tr>
        <td>{{flight["Airline_name"]}}</td>
        <td>{{flight["Flight_num"]}}</td>
        <td>{{flight["Depart_date"]}}</td>
        <td>{{flight["Depart_time"]}}</td>
        <td>{{flight["Depart_port"]}}</td>
        <td>{{flight["Arrival_port"]}}</td>
        <td>{{flight["Arrival_date"]}}</td>
        <td>{{flight["Arrival_time"]}}</td>
        <td>{{flight["Base_price"]}}</td>
        <td>{{flight["ID_num"]}}</td>
        <td>{{flight["Flight_status"]}}</td>
        
    </tr>
    {% endfor %}
</table>

<p>Would you like to leave a review? Enter the Flight number of your choice below and tell us what you think!</p>

<form action="/critique_sub" method="POST">
    <input type="number" name = f_num placeholder="Enter your flight number">
    <input type="number" id="quantity" name = "rating" min = "1" max = "5" placeholder="Rate Us from 1 to 5" required/> </br>
    <input type="text" name = "comment" placeholder="Comment right here" required/></br>
    <input type="submit" value = Submit />
</form>

{% if no_fly %}
<p class="error"><strong>Error:</strong> {{no_fly}}</p>
{% endif %}

<br>

<a href="/home">Customer Home Page</a>