{% if not message %}
<h1>
    All past flights for {{username}}
</h1>

<p>Would you like to leave a review? Enter the Flight number of your choice below and tell us what you think!</p>

<form action="/critique_sub" method="POST">
    <input type="number" name = f_num placeholder="Enter your flight number">
    <input type="number" id="quantity" name = "rating" min = "1" max = "5" placeholder="Rate Us from 1 to 5" required/> </br>
    <input type="text" name = "comment" placeholder="Comment right here" required/></br>
    <input type="submit" value = Submit />
</form>

{% if message %}
<p class="error"><strong>Error:</strong>{{message}}</p>
{% endif %}

<br>

<a href="/home">[Customer Home Page]</a>
<a href="/pastflights">[Fresh]</a>