<html>
<head>
</head>
<body>
    <p>INVALID OR UNRESULTING SEARCH</p>

    {% if source == "pastflights" or source == "viewflights" %}
        <a href="/home">Customer Home Page</a>
    {% endif %}

    {% if source == "flightsearch"  %}
        <a href="/flightsearch">Public Page</a>
    {% endif %}

    {% if source == "custsearch" %}
        <a href="/flightsearch2">Customer Home Page</a>
    {% endif %}

    {% if source == "stat" %}
        <a href="/viewflightstatus">Different Fligth status</a>
    {% endif %}
</body>
</html>

