{% if source == "pastflights" %}
    <p>ALL PAST FLIGHTS FOR {{username}}</p>
{% endif %}

{% if source == "viewflights" %}
    <p>ALL UPCOMING FLIGHTS FOR {{username}}</p>
{% endif %}

{% if source == "flightsearch" or source == "custsearch"  %}
    <p>POTENTIAL FLIGHTS LISTED</p>
{% endif %}

{% if source == "pastflights" or source == "viewflights" or source == "flightsearch" or source == "custsearch" %}
<table border = 1>
    {% for flight in flightData %}
    <tr>
        <td>{{flight["Airline_name"]}}</td>
        <td>{{flight["Flight_num"]}}</td>
        <td>{{flight["Depart_date"]}}</td>
        <td>{{flight["Depart_time"]}}</td>
        <td>{{flight["Depart_port"]}}</td>
        <td>{{flight["Arrival_port"]}}</td>
        <td>{{flight["Arrival_date"]}}</td>
        <td>{{flight["Arrival_time"]}}</td>
        <td>{{flight["Base_price"]}}</td>
        <td>{{flight["ID_num"]}}</td>
        <td>{{flight["Flight_status"]}}</td>
        
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if source == "pastflights" or source == "viewflights"  %}
    <a href="/home">Customer Home Page</a>
{% endif %}

{% if source == "flightsearch"  %}
    <a href="/flightsearch">Public Page</a>
{% endif %}

{% if source == "custsearch" %}
    <a href="/flightsearch2">Customer Home Page</a>
{% endif %}


{% if source == "stat" %}
<p>CURRENT FLIGHT STATUS:</p>
<table border = 1>
    {% for flight in stat %}
    <tr>
        <td>{{flight["Flight_status"]}}</td>
    </tr>
    {% endfor %}
</table>

<a href="/viewflightstatus">Go back</a>
{% endif %}