<html>
<head>
</head>

<body>

<!–– Gets information for fligth status ––>
<form action="/showstat" method="POST">
    <h1>Airline name</h1>
    <input type="text" name = "AN" placeholder="Airline name" required/> </br>
    <h1>Flight number</h1>
    <input type="text" name = "FN" placeholder="Flight number" required/> </br>
    <h1>Departure date</h1>
    <input type="text" name = "DD" placeholder="Departure date" required/> </br>
    <h1>Arrival date</h1>
    <input type="text" name = "AD" placeholder="Arrival date" required/> </br>
    <input type="submit" value = "Search" />
</form>



<a href="/">Go back</a>

</body>
</html>
